#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5.16rem;
  row-gap: 2rem;
}

section {
    padding: 40px;
    text-align: center;
}

section h2 {
    color: #099509;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

